<h2 class="text-center fw-bold">Cadastrar</h2>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputEName" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" autocomplete="password" class="form-control" id="exampleInputPassword">
    </div>

    <button type="submit" class="btn btn-success w-100">Cadastrar</button>
    <p></p>
    <p class="text-center">
        <small>Já tem uma conta? <a href="/auth/login">Clique aqui</a> para Entrar</small>
    </p>
</form>
